# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon main file
Icon

# Thumbnails
._*

# Files that may be created by the Finder
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
